
#cards .tile {
    width: 20;
    height: 20;
    
}
@media only screen and (max-width:900px) {
    /* For tablets: */
    #cards{
        display: grid;
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
   
        align-items: center;
    }
  
  }
  @media only screen and (min-width:900px) {
    /* For tablets: */
    #cards{
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: repeat(4, 300px);

        align-items: center;
  
    }
  
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    #cards{
        display: grid;
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(2, 180px);
        align-items: center;
        margin-right: 12px;
     
    }
  }
