.app-bored{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;

}

.cellInput{
    width: 35px;
    height: 35px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    border: 3px solid rgb(58, 68, 255);
    background-color: rgb(139, 139, 139);
}
td{
    padding: 0px;
}

.btnContainer{
    margin-top: 20px;
}
.solvedBtn{
 background-color:rgb(255, 255, 0);
 font-weight: bold;
 margin: 12px;
 width: 100px;
 padding:14px 20px;
 border-radius: 40px;
 font-size: 20px;
 border: 2px solid rgb(255, 136, 57);
 box-shadow: 10px 2px 2px rgb(255, 136, 57);
}

.resetBtn{
    background-color:rgb(224, 34, 0);
    font-weight: bold;
    margin: 12px;
    width: 100px;
    padding:14px 20px;
    border-radius: 40px;
    font-size: 20px;
    border: 2px solid rgb(58, 68, 255);;
    box-shadow: 10px 2px 2px rgb(0, 21, 255);
}

.bBorder{
 border-bottom: 2px solid rgb(44, 54, 255);

}

.rBorder{
    border-right: 4px solid rgb(44, 54, 255);
   
   }