.boxses1 {
   
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3,80px);
}
.boxses2 {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4,80px);
}
.boxses3 {
    display: grid;
    grid-template-columns: repeat(5, 65px);
    grid-template-rows: repeat(5,65px);
}
.boxses4 {
    display: grid;
    grid-template-columns: repeat(6, 57px);
    grid-template-rows: repeat(6,57px);
}
.boxses5 { 
    display:grid;
    grid-template-columns: repeat(7, 45px);
    grid-template-rows: repeat(7,45px);
}

.btnsBox {
    margin: 3px;
}



.difficulty1{
  color: rgb(84, 255, 84);
  font-size: 60px;
  padding: 8px;  
  text-shadow: 0px 0px 10pt rgb(55, 255, 98);

}
.difficulty2{
    color: rgb(84, 255, 84);
  text-shadow: 0px 0px 10pt rgb(119, 255, 55);
  font-size: 60px;
  padding: 8px;
}
.difficulty3{
    color: rgb(208, 255, 38);
  text-shadow: 0px 0px 10pt rgb(208, 255, 38);
  font-size: 60px;
  padding: 8px;
}
.difficulty4{
    color: rgb(255, 200, 0);
  text-shadow: 0px 0px 10pt rgb(255, 200, 0);
  font-size: 60px;
  padding: 8px;
}
.difficulty5{
    color: rgb(255, 0, 0);
  text-shadow: 0px 0px 10pt rgb(255, 0, 0);
  font-size: 60px;
  padding: 8px;
}

.winResultMsg{
  color: rgb(0, 255, 8);
  text-shadow: 0px 0px 10pt rgb(0, 255, 8);
  font-size: 60px;
  padding: 8px;
}
.lossResultMsg{
    color: rgb(255, 0, 0);
    text-shadow: 0px 0px 10pt rgb(255, 0, 0);
    font-size: 60px;
    padding: 8px;
  }
  
