#bored{
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-template-rows: repeat(9, 100px);
    width: 300px;
    height: 300px;
}
#bored .tile {
    width: 20;
    height: 20;
    
}